<footer>

  <div class="social-icons">
    <a href="#" target="_blank"> <!-- Replace "#" with your social media link -->
        <img src="../static/icons/fb.png" alt="Social Icon 1">
    </a>
    <a href="#" target="_blank"> <!-- Replace "#" with your social media link -->
        <img src="../static/icons/x.png" alt="Social Icon 2">
    </a>
    <a href="#" target="_blank"> <!-- Replace "#" with your social media link -->
      <img src="../static/icons/ln.png" alt="Social Icon 1">
    </a>
    <a href="#" target="_blank"> <!-- Replace "#" with your social media link -->
        <img src="../static/icons/ins.png" alt="Social Icon 2">
    </a>
    <!-- Add more social media icons as needed -->
  </div>

  <div class="footer-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <span>|</span>
      <a href="/disclaimer">Disclaimer</a>
      <span>|</span>
      <a href="/contact-us">Contact Us</a>
  </div>

</footer>

</body>
</html>