{% extends "./base.html" %} {% block content %}
<div class="content-gallery">
	{% for blog in blogs %}
	<div class="content-card">
		<img
			src="{{ blog.blog_image_primary.url }}"
			width="100%"
			height="200px"
		/>
		<h3>
			<a href="/blog/{{blog.pk}}" class="blog-headline"
				>{{ blog.blog_title }}</a
			>
		</h3>
	</div>
	{% endfor %}
</div>

<div class="pagination">
	<span class="step-links">
			{% if blogs.has_previous %}
					<a href="?page=1">&laquo; first</a>
					<a href="?page={{ blogs.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
					Pages 
					{% for page_num in blogs.paginator.page_range %}
							{% if blogs.number == page_num %}
									<strong>{{ page_num }}</strong>
							{% elif page_num > blogs.number|add:"-3" and page_num < blogs.number|add:"3" %}
									<a href="?page={{ page_num }}">{{ page_num }}</a>
							{% elif page_num == blogs.paginator.num_pages %}
									<a href="?page={{ page_num }}">{{ page_num }}</a>
							{% elif page_num == blogs.number|add:"-4" or page_num == blogs.number|add:"4" %}
									<span>...</span>
							{% endif %}
					{% endfor %}
			</span>

			{% if blogs.has_next %}
					<a href="?page={{ blogs.next_page_number }}">next</a>
					<a href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
	</span>
</div>

{% endblock %}
